apiVersion: v1
kind: Service
metadata:
  name: python-webapp
  labels:
    app: python-webapp
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: python-webapp
